<system.webServer>
  <rewrite>
    <rules>
      <rule name="Custom 404" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGroupingOperator="MatchAll">
          <input serverVariable="REQUEST_FILENAME" matchType="IsFile" negate="true" />
        </conditions>
        <rewrite url="/404.html" />
      </rule>
    </rules>  
  </rewrite>
</system.webServer>
